<h2>Create New Figure</h2>

<form action="/figures" method="POST">
<label> Name: </label>
<input type="text" id="figure_name" name="figure[name]"> <br>

<label>New Landmark: </label>
<input type="text" name="landmark[name]" id="new_landmark"><br>
<label>Landmarks: </label>
<% Landmark.all.each do |landmark|%>
<label> <%= landmark.name %> </label>
<input id="landmark_<%= landmark.id %>" value ="<%= landmark.id%>" type="checkbox" name="figure[landmark_ids][]">
<% end %><br>



<label>New Title: </label>
<input type="text" id="new_title" name="title[name]"><br>
<label>Titles: </label>
<% Title.all.each do |title|%>
<label><%= title.name %></label>
<input id="title_<%= title.id %>" value="<%= title.id %>" type="checkbox" name="figure[title_ids][]">
<% end %> <br>



<input type="submit" value="Create New Figure">
</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>